name=CO
prefix=co
warmup=400
timeout=6000
baud=9600
voltage=24
current=0.35
cmdprefix=$CO_
prompt=CD>
datatype=u
start=%FSTART:%x,%y,%z,%a%r%p
stop=%FSTOP:%a%r%p
clock-set=%FCLOCK:%{%y,%m,%d:%H,%M,%S}%r
clock-read=%FCLOCK%r%n
clock-sync=gps1
download=%9%9%9%9%9%9%9%9%9%9%FSEND_TXT_FILE%r
post-clock=on
post-stop=on
post-transfer=on
param-x=PUMP
param-y=ZERO
param-z=DATA
log-cmd=%FERRORS%r%[CD>]
log-0=ERRORS
